.calendar {
  margin-top: 50px;
}


.date-picked {
  box-sizing: border-box;

  position: absolute;
  width: 168px;
  height: 31px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  border: 1px solid #111321;
  border-radius: 20px;
}

.date-picked:hover {
  box-sizing: border-box;

  position: absolute;
  width: 168px;
  height: 31px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  background: #4440f6;
  border-radius: 20px;
}

#picked {
  position: absolute;
  width: 77px;
  height: 21px;
  left: 46px;
  top: 5px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  color: #111321;

  opacity: 0.4;
}

#picked:hover {
  color: #ffffff;
}
