body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(233, 228, 253);
  font-family: sans-serif;
}

.date-picked {
  box-sizing: border-box;

  position: absolute;
  width: 168px;
  height: 31px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  border: 1px solid #111321;
  border-radius: 20px;
}

.date-picked:hover {
  box-sizing: border-box;

  position: absolute;
  width: 168px;
  height: 31px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  background: #4440f6;
  border-radius: 20px;
}

#picked {
  position: absolute;
  width: 77px;
  height: 21px;
  left: 46px;
  top: 5px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  color: #111321;

  opacity: 0.4;
}

#picked:hover {
  color: #ffffff;
}

td {
  cursor: pointer;
  text-align: center;
}
td:hover {
  background-color: rgb(237, 237, 237);
}

main {
  background-color: #fff;
  width: 250px;
  height: 200px;
  border: 2px solid #1a3c5c;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#calender-header {
  display: flex;
  justify-content: space-between;
  background-color: #1a3c5c;
  width: 250px;
  color: #fff;
}

button {
  border: none;
  background-color: transparent;
  color: rgb(8, 6, 6);
  margin: 0 20px;
}

.today {
  background-color: #1a3c5c;
  color: #fff;
}
