.header {
  padding: 24px 0;
  background-color: $light-color;
  &__logo {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.37;
    color: $dark-color;
    @media screen and (min-width: $tablet) {
      font-size: 32px;
      line-height: 1.37;
    }
    @media screen and (min-width: $desktop) {
      font-size: 42px;
      line-height: 1.35;
    }
  }
}
.header__nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-menu__link {
  display: flex;
  align-items: center;
  font-family: 'Manrope';
  font-style: normal;
  color: $dark-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
  }
}
.nav-menu {
  padding-left: 16px;
}
.nav-menu__link:hover,
.nav-menu__link:focus {
  color: $accent-color;
}
.nav-menu__link--active {
  color: $accent-color;
}
.nav-menu__link--active::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}
.mobile-menu__icon {
  margin-right: 13px;
}
.menu__button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
}
.menu-container {
  position: absolute;
  top: 100%;
  left: -16px;
  width: $mobile;
  height: 100vh;
  max-height: 568px;
  background-color: tomato;
  z-index: 999;
  display: none;
  // transform: translateY(100%);
  // transition: transform 250ms var(--animation-function);
  padding: 0;
  margin: 0;
}
.menu-container--open {
  // transform: translateY(0);
  display: block;
}
.menu__button.menu__button--open .icon-cross {
  display: block;
}
.menu__button .icon-cross {
  display: none;
}
.menu__button.menu__button--open .icon-menu {
  display: none;
}
.menu__button .icon-menu {
  display: block;
}
