.header {
  background-color: $light-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  &__logo {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.37;
    color: $dark-color;
    padding: 24px 0;
    @media screen and (min-width: $tablet) {
      font-size: 32px;
      line-height: 1.37;
      margin-right: 48px;
      padding: 32px 0 30px 0;
    }
    @media screen and (min-width: $desktop) {
      font-size: 42px;
      line-height: 1.35;
      margin-right: 102px;
      padding: 28px 0;
    }
  }
}
.header__nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $tablet) {
    // padding: 32px 0 28px 0;
    // height: 106px;
  }
  @media screen and (min-width: $desktop) {
  }
}
.menu-container {
  @media screen and (max-width: $tablet) {
    position: absolute;
    top: calc(100% + 1px);
    left: -16px;
    width: $mobile;
    height: 100vh;
    z-index: 999;
    display: none;
    background-color: $light-color;
    // transform: translateY(100%);
    // transition: transform 250ms var(--animation-function);
    overflow: hidden;
  }
  @media screen and (min-width: $tablet) {
    position: relative;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
  }
}
.menu-container--open {
  // transform: translateY(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-menu {
  padding-left: 16px;
  padding-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    padding: 0;
    align-items: center;
    margin-right: 32px;
    gap: 44px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 147px;
    gap: 69px;
  }
}
.nav-menu__link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: 'Manrope';
  font-style: normal;
  color: $dark-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  @media screen and (min-width: $tablet) {
    font-weight: 700;
    font-size: 16px;
    gap: 0;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
  }
}
.nav-menu__link:hover,
.nav-menu__link:focus {
  color: $accent-color;
}
.nav-menu__link--active {
  color: $accent-color;
}
.nav-menu__link--active::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}
.mobile-menu__icon {
  border: 1px solid white;
  border-radius: 50%;
}
.icon-arrow-right {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu__button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu__button.menu__button--open .icon-cross {
  display: block;
}
.menu__button .icon-cross {
  display: none;
}
.menu__button.menu__button--open .icon-menu {
  display: none;
}
.menu__button .icon-menu {
  display: block;
}
.mobile-menu__icon {
  margin-right: 13px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
// зашлушка поиска на время
.search {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 35%;
  @media screen and (min-width: $tablet) {
    width: 213px;
    height: 31px;
    flex-direction: row;
    padding: 0;
    align-items: center;
    margin-right: 24px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 147px;
    width: 288px;
  }
}
