.search-bar {
  @media screen and (max-width: calc($tablet - 1px)) {
    position: absolute;
    top: 26px;
    right: 69px;
    max-width: 15px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
  }
}
.input-box {
  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    margin-right: 24px;
    max-width: 213px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 147px;
    max-width: 288px;
  }
}

.search-input {
  width: 100%;
  height: 31px;
  padding-left: 48px;
  border-radius: 20px;
  border: none;
  cursor: auto;
  border-color: $dark-color;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  //opacity: 0.4;
  color: $dark-color;
  background: transparent;
  letter-spacing: 0.02em;
  outline: none;

  @media screen and (min-width: $tablet) {
    display: block;
    width: 100%;
    height: 31px;
    padding-left: 48px;
    border-radius: 20px;
    border: 1px solid;
    border-radius: 20px;
  }

  @media screen and (min-width: $desktop) {
  }
}

.search-input--dark {
  border-color: $light-color;
}

.open {
  display: block;
  max-width: 173px;
  border: 1px solid;
  border-radius: 20px;
  right: 38px;

  @media screen and (min-width: $tablet) {
    max-width: 213px;
    border: none;
  }

  @media screen and (min-width: $desktop) {
    max-width: 288px;
    border: none;
  }
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 6px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    cursor: auto;
  }
}

// .input-box {
//   @media screen and (max-width: $tablet) {
//     position: absolute;
//     top: -55px;
//     right: 69px;
//     max-width: 15px;
//   }

//   @media screen and (min-width: $tablet) {
//     position: relative;
//     margin-right: 24px;
//     max-width: 213px;
//   }

//   @media screen and (min-width: $desktop) {
//     margin-right: 147px;
//     max-width: 288px;
//   }
// }

// .search-input {
//   width: 100%;
//   height: 31px;
//   padding-left: 48px;
//   border-radius: 20px;
//   border: none;
//   cursor: auto;
//   border-color: $dark-color;
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.7;
//   //opacity: 0.4;
//   color: $dark-color;
//   background: transparent;
//   letter-spacing: 0.02em;
//   outline: none;

//   @media screen and (min-width: $tablet) {
//     display: block;
//     width: 100%;
//     height: 31px;
//     padding-left: 48px;
//     border-radius: 20px;
//     border: 1px solid;
//     border-radius: 20px;
//   }

//   @media screen and (min-width: $desktop) {
//   }
// }

// .search-input--dark {
//   border-color: $light-color;
// }

// .open {
//   display: block;
//   max-width: 173px;
//   border: 1px solid;
//   border-radius: 20px;
//   right: 54px;

//   @media screen and (min-width: $tablet) {
//     max-width: 213px;
//     border: none;
//   }

//   @media screen and (min-width: $desktop) {
//     max-width: 288px;
//     border: none;
//   }
// }

// .search-icon {
//   position: absolute;
//   left: 12px;
//   top: 6px;
//   cursor: pointer;

//   @media screen and (min-width: $tablet) {
//     cursor: auto;
//   }
// }
