.input-box {
    max-width: 15px;
    //width: 173px;
    position: relative;
    margin-top: 28px;
    margin-bottom: 22px;

    @media screen and (min-width: $tablet) {
        max-width: 213px;
        margin-top: 44px;
        margin-bottom: 31px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 288px;
        margin-top: 51px;
        margin-bottom: 31px;
    }
}


.search-input {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 31px;
    padding-left: 48px;
    border-radius: 20px;
    border: none;
    cursor: auto;
    border-color: $dark-color;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    //opacity: 0.4;
    color: $dark-color;
    background: transparent;
    letter-spacing: 0.02em;
    outline: none;

    @media screen and (min-width: $tablet) {
        display: block;
        width: 100%;
        height: 31px;
        padding-left: 48px;
        border-radius: 20px;
        border: 1px solid;
        border-radius: 20px;
    }

    @media screen and (min-width: $desktop) {}
}

.open {
    display: block;
    max-width: 173px;
    border: 1px solid;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;

    @media screen and (min-width: $tablet) {
        max-width: 213px;
        border: none;
    }

    @media screen and (min-width: $desktop) {
        max-width: 288px;
        border: none;
    }

}

.search-icon {
    position: absolute;
    left: 12px;
    top: 6px;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        cursor: auto;
    }
}