body {
  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 22px;
  color: $dark-color;
  background-color: $light-color;
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  width: $mobile;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.visibility-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
