// Fonts
$font-family-primary: 'Manrope', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;

//Colors
$accent-color: #4440f6;
$dark-color: #111321;
$gray-color: #a8a8a8;
$white-color: #ffffff;
$light-color: #f4f4f4;
$bg-dark-color: #2e2e2e;
$switcher-accent-color: #4b48db;
$switcher-dark-color: #5f6775;
$date-color: #a2a2a2;
$weather-bg-color: rgba(254, 254, 255, 0.3);
$already-read-color: rgba(244, 244, 244, 0.4);
$green-color: #00dd73;
$footer-bg-color: #7a7a7a;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
