<ul class="favorite__list">
  <li class="favorite__item">
    <div class="card">
      <div class="card__img-wrapper">
        <img
          class="card__img"
          src="https://static01.nyt.com/images/2023/03/18/multimedia/17xp-reddick-02-fjhk-print2/17xp-reddick-02-fjhk-mediumThreeByTwo440.jpg"
          alt="undefined"
        />
        <button type="button" class="card__faw">
          Add to favorite
          <svg width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-favorite"></use>
          </svg>
        </button>
      </div>
      <h2 class="card__title">
        Lance Reddick, Star of ‘The Wire’ and ‘John Wick,’ Dies at 60
      </h2>      
      <p class="card__subscribe">
        A prolific actor, he also starred in the Amazon series “Bosch” and had
        recently branched out into video games like Horizon Zero Dawn and the
        Destiny franchise.
      </p>
      <span class="card__date">2023-03-17</span>
      <a
        href="https://www.nytimes.com/2023/03/17/arts/television/lance-reddick-dead.html"
      >
        <span class="card__read-more">Read more</span>
      </a>
    </div>
  </li>
  <li class="favorite__item">
    <button class="remove" style="background-color: red">
      Remouve from favorite
    </button>
  </li>
  <li class="favorite__item">
    <button class="remove" style="background-color: red">Remouve</button>
  </li>
  <li class="favorite__item">
    <button class="remove" style="background-color: red">Remouve</button>
  </li>
  <li class="favorite__item">
    <button class="remove" style="background-color: red">Remouve</button>
  </li>
  <li class="favorite__item">
    <button class="remove" style="background-color: red">Remouve</button>
  </li>
  <li class="favorite__item">
    <button class="remove" style="background-color: red">Remouve</button>
  </li>
  <li class="favorite__item">
    <button class="remove" style="background-color: red">Remouve</button>
  </li>
</ul>
