<!-- <input type="text" id="datetime-picker" placeholder="Select Date.." class="datetime-picker"/> -->
<div class="flatpickr">    
    <input
      type="text"
      id="datetime-picker"
      class="datetime-picker"
      placeholder="Select Date.."
      data-input
    />
    <i class="icon-calendar">
      <svg width="16" height="16">
        <use href="./images/symbol-defs.svg#icon-date"></use>
      </svg>
    </i>
  </div>
 
  <!-- <input type="text" id="datetime-picker" class="datetime-picker" data-input>
    <i class="icon-calendar">
    <svg>
      <use href="./images/symbol-defs.svg#icon-date"></use>
    </svg>
    </i>
  

  <a class="input-button" title="toggle" data-toggle>
    <i class="icon-calendar"></i>
  </a> -->

  <!-- <a class="input-button" title="clear" data-clear>
    <i class="icon-close"></i>
  </a> -->
</div>
