<ul class="filter">
  <li class="filter__item">
    <button type="button" class="filter__button">Admin</button>
  </li>
  <li class="filter__item">
    <button type="button" class="filter__button">Arts</button>
  </li>
  <li class="filter__item">
    <button type="button" class="filter__button">Books</button>
  </li>
  <li class="filter__item">
    <button type="button" class="filter__button">Briefing</button>
  </li>
  <li class="filter__item">
    <button type="button" class="filter__button">Business</button>
  </li>
  <li class="filter__item">
    <button type="button" class="filter__button">Others</button>
  </li>
</ul>
