<div class="calendar">
  <button class="date-picked"><span id="picked">More</span></button>
  
    <!-- <div id="calendar-header">
      <button onclick="prevMonth()"><</button>
      <h3 id="month"></h3>
      <button onclick="nextMonth()">></button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thur</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody id="calendar"></tbody>
    </table>
   -->
  </div>
