<header class="header">
    <div class="container header__container">
        <nav class="header__nav">
            <a href="./index.html" class="header__logo">News</a>
            <button type="button" class="menu__button" aria-expanded="false" aria-controls="mobile-menu">
                <svg width="24" height="24" aria-label="Menu switch button">
                    <use class="icon-menu" href="./images/symbol-defs.svg#icon-menu"></use>
                    <use class="icon-cross" href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
            <div class="menu-container" id="mobile-menu">
                <ul class="nav-menu">
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link"><svg width="32" height="32"
                                class="mobile-menu__icon">
                                <use href="./images/symbol-defs.svg#icon-home"></use>
                            </svg> Home <svg width="24" height="24" class="icon-arrow-right">
                                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
                            </svg></a>
                    </li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link"><svg width="32" height="32"
                                class="mobile-menu__icon">
                                <use href="./images/symbol-defs.svg#icon-favorite"></use>
                            </svg> Favorite</a></li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link"><svg width="32" height="32"
                                class="mobile-menu__icon">
                                <use href="./images/symbol-defs.svg#icon-read"></use>
                            </svg> Read</a></li>
                </ul>
                <div class="search">s</div>
                <div class="theme">theme</div>
            </div>
        </nav>
    </div>
</header>
<script src="./js/mobile-menu.js"></script>