<!-- <div class="container pagination-container">
  <ul class="btn-list" id="pagination">
    <li class="btn-list_prev-page">
      <svg class="btn-list-icon">
        <use
          href="./images/symbol-defs.svg#icon-pagination-prew-arrow"
        ></use></svg
      ><span>Prew</span>
    </li>
    <li class="btn-list_item btn-list_first-page btn-list_btn-item">1</li>
    <li class="btn-list_item"><span class="btn-list_space">...</span></li>
    <li class="btn-list_item btn-list_btn-item">4</li>
    <li class="btn-list_item btn-list_btn-item btn-list_item--hidden">5</li>
    <li class="btn-list_item btn-list_btn-item btn-list_item--hidden">6</li>
    <li class="btn-list_item"><span class="btn-list_space">...</span></li>
    <li class="btn-list_item btn-list_last-page btn-list_btn-item">20</li>
    <li class="btn-list_next-page">
      <span>Next</span
      ><svg class="btn-list-icon">
        <use href="./images/symbol-defs.svg#icon-pagination-next-arrow"></use>
      </svg>
    </li>
  </ul>
</div> -->

<!-- <div class="container pagination-container">
  <ul class="btn-list" id="pagination">
    <li class="btn-list_prev-page">
      <a class="btn-list_prev-page-link btn-list_link" href="">
        <svg class="btn-list-icon">
          <use
            href="./images/symbol-defs.svg#icon-pagination-prew-arrow"
          ></use></svg
        ><span>Prew</span></a
      >
    </li>
    <li class="btn-list_item btn-list_first-page btn-list_btn-item">
      <a class="btn-list_link" href="">1</a>
    </li>
    <li class="btn-list_item"><span class="btn-list_space">...</span></li>
    <li class="btn-list_item btn-list_btn-item">
      <a class="btn-list_link" href="">4</a>
    </li>
    <li class="btn-list_item btn-list_btn-item btn-list_item--hidden">
      <a class="btn-list_link" href="">5</a>
    </li>
    <li class="btn-list_item btn-list_btn-item btn-list_item--hidden">
      <a class="btn-list_link" href="">6</a>
    </li>
    <li class="btn-list_item"><span class="btn-list_space">...</span></li>
    <li class="btn-list_item btn-list_last-page btn-list_btn-item">
      <a class="btn-list_link" href="">20</a>
    </li>
    <li class="btn-list_next-page">
      <a class="btn-list_next-page-link btn-list_link" href=""
        ><span>Next</span
        ><svg class="btn-list-icon">
          <use
            href="./images/symbol-defs.svg#icon-pagination-next-arrow"
          ></use></svg
      ></a>
    </li>
  </ul>
</div> -->

<div class="container">
  <div class="page-container">
    <button class="first-page" disabled>
      <i class="fas fa-angle-double-left"></i>
    </button>
    <button class="prev-page" disabled>
      <i class="fas fa-angle-left"></i>
    </button>
    <div id="pagination"></div>
    <button class="next-page">
      <i class="fas fa-angle-right"></i>
    </button>
    <button class="last-page">
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
</div>
