<div class="theme container">
    <span class="switcher-pointer" id="light">Light</span>
<svg width="18" height="18" class="theme__icon-sun">
    <use href="./images/symbol-defs.svg#icon-sun">
    </use>
  </svg>
    <label class="theme__checkbox">
      <div class="switch-box">
      <svg width="16" height="16" class="theme__light">
        <use href="./images/symbol-defs.svg#icon-toggle">
        </use>
      </svg>
      </div>
      <input type="checkbox">
    </label>
  
  <span class="switcher-pointer switcher-pointer--dark" id="dark">Dark</span>
<svg width="16" height="16" class="theme__icon-moon">
    <use href="./images/symbol-defs.svg#icon-moon">
    </use>
  </svg>
</div>