.filter-wrapper--date .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
  margin-right: 16px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-right: 16px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 28px;
    margin-right: 16px;
    margin-bottom: 40px;
  }
}

body .date-label {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.375;

    &.dark-theme {
      color: #f4f4f4;
    }
  }
}

.date-input {
  fill: #4440f6;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.date-input:hover {
  fill: #f4f4f4; 
}

.date-picker {
  display: flex;
  justify-content: flex-end; 

  width: 152px;
  height: 31px;
  left: 0px;
  background-color: inherit;
  border: 1px solid #111321;
  outline: none;
  border-radius: 20px;
  padding-left: 46px;
  font-size: 12px;
  &:hover {
    background-color: #4440f6;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 168px;
  }
  @media screen and (min-width: 1280px) {
    width: 190px;
  }
}

/* .date-picker .flatpickr-input.active,
.date-picker .flatpickr-input:hover {
  outline: none;
  border: 1px solid #4440f6;
  color: #ffffff;
  background-color: #4440f6;
  fill: white;
} */
.date-label {
  margin-right: 37px;
  font-size: 24px;
}
:placeholder-shown {
  font-size: 12px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.date-svg-calendar {
  position: absolute;
  margin-top: 6px;
  margin-left: 12px;
}

.date-down {
  margin-right: 10px;
  margin-top: 6px;
  position: absolute;
  top: 30%;
  right: 1px;
  transform: translateY(-50%);
}

.date-up {
  display: none;
  fill: #f8f8f8;
  margin-right: 10px;
  margin-top: 6px;
  position: absolute;
  top: 30%;
  right: 1px;
  transform: translateY(-50%);
}

.calendar {
  position: relative;
}
.flatpickr-calendar.animate.open {
  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
body .flatpickr-months .flatpickr-next-month {
  fill: #4440f6;
  stroke-width: 1px;
}
body .flatpickr-months .flatpickr-prev-month {
  fill: #4440f6;
}
.date-input:hover ::placeholder,
.date-input:focus-within ::placeholder {
  color: white;
  opacity: 1;
} 
.date-input:hover .date-picker {
  background-color: #4440f6;
}

/* .date-picker .flatpickr-input.active ::placeholder,
.date-picker:hover ::placeholder {
  color: white;
  opacity: 1;
} */

/* .flatpickr-input.date-picker.active:hover ~.date-down,
.flatpickr-input.date-picker.active:hover ~.date-svg-calendar {
  fill: white;
} */
.flatpickr-calendar .flatpickr-day.selected {
  background: $accent-color;
}
.flatpickr-calendar {
  max-width: 308px;
}
