#pagination {
  //   display: flex;
  //   gap: 10px;

  //   padding-top: 40px;
  //   padding-bottom: 60px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   max-width: 288px;

  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 1.36;

  //   @media screen and (min-width: $tablet) {
  //     justify-content: center;
  //     max-width: 415px;
  //     gap: 8px;

  //     padding-top: 48px;
  //     padding-bottom: 100px;

  //     font-size: 16px;
  //     line-height: 1.38;
  //   }

  //   @media screen and (min-width: $desktop) {
  //     padding-top: 60px;
  //     padding-bottom: 150px;
  //   }
}
.btn-list_prev-page,
.btn-list_next-page {
  display: flex;
  // gap: 3px;
  align-items: center;
  justify-content: center;

  width: 72px;

  color: $dark-color;
  cursor: default;

  background: $light-color;
  border: 1px solid $accent-color;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $light-color;
  }

  &:hover .btn-list-icon,
  &:focus .btn-list-icon {
    fill: $light-color;
  }

  //   &:hover .btn-list_link,
  //   &:focus .btn-list_link {
  //     color: $light-color;
  //   }

  //   &-link {
  //     display: flex;
  //     gap: 3px;
  //     align-items: center;
  //     justify-content: center;
  //   }

  //   &-icon {
  //     width: 18px;
  //     height: 18px;
  //     @media screen and (min-width: $tablet) {
  //       width: 24px;
  //       height: 24px;
  //     }
  //   }

  @media screen and (min-width: $tablet) {
    width: 82px;
    gap: 2px;
  }
}
.btn-list {
  display: flex;
  gap: 4px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 288px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;

  @media screen and (min-width: $tablet) {
    justify-content: center;
    max-width: 415px;
    gap: 8px;

    padding-top: 48px;
    padding-bottom: 100px;

    font-size: 16px;
    line-height: 1.38;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 150px;
  }

  //   @media screen and (min-width: $tablet) {
  //     gap: 8px;
  //   }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_btn-item {
    width: 28px;
    height: 28px;

    background: $light-color;
    border: 1px solid $accent-color;
    border-radius: 2px;

    color: $dark-color;
    cursor: default;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $light-color;
    }

    // &:hover .btn-list_link,
    // &:focus .btn-list_link {
    //   color: $light-color;
    // }

    @media screen and (min-width: $tablet) {
      width: 33px;
      height: 31px;
    }
  }

  //   &_link {
  //     color: $dark-color;
  //     cursor: default;
  //   }

  &_space {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.14;
    @media screen and (min-width: $tablet) {
      line-height: 1.19;
    }
  }

  &-icon {
    width: 18px;
    height: 18px;

    fill: $dark-color;

    @media screen and (min-width: $tablet) {
      width: 24px;
      height: 24px;
    }
  }
}
.btn-list_item--hidden {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.active-btn {
  background-color: $accent-color;
  color: $light-color;
}

// ------------------------

.page-container button.first-page,
.page-container button.last-page {
  display: none;
}

.fa-angle-double-left {
  display: none;
}

#pagination li.dot_style {
  border: none;
}
.page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: $light-color;
  gap: 4px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 288px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;

  @media screen and (min-width: $tablet) {
    // justify-content: center;
    max-width: 415px;
    gap: 8px;

    padding-top: 48px;
    padding-bottom: 100px;

    font-size: 16px;
    line-height: 1.38;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 150px;
  }
}
.page-container i {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 10px;
  color: var(--color-dark);
  pointer-events: none;
}
.page-container button {
  display: flex;
  // gap: 3px;
  align-items: center;
  justify-content: center;

  width: 72px;
  height: 28px;

  color: $dark-color;
  cursor: default;

  background: $light-color;
  border: 1px solid $accent-color;
  border-radius: 2px;

  //   cursor: pointer;
  //   background-color: transparent;
  //   border: none;
}
.page-container button:disabled i {
  color: #aaadc7;
}

#pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#pagination li {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;

  background: $light-color;
  border: 1px solid $accent-color;
  border-radius: 2px;

  color: $dark-color;
  cursor: default;

  list-style: none;
  //   cursor: pointer;
  //   border-radius: 5px;
  overflow: hidden;
  margin: 0 3px;
}
#pagination li.active {
  background-color: $accent-color;
}
#pagination li.active a {
  color: #fff;
}
#pagination li a {
  text-decoration: none;
  font-weight: 600;
  padding: 8px 13px;
  display: inline-block;
  line-height: 1;
  color: #a9a9a9;
  font-size: 10px;
  pointer-events: none;
}
#pagination li:hover {
  background-color: $accent-color;
}
#pagination li:hover a {
  color: #fff;
}

.settings {
  padding-top: 3rem;
  display: flex;
  align-items: flex-start;
}
.settings .form-input {
  margin-bottom: 1rem;
}
.settings .form-input:not(:last-child) {
  margin-right: 3rem;
}
.settings .form-input > label {
  margin-bottom: 10px;
}
.settings .form-input label {
  font-size: 18px;
  font-weight: 600;
  display: block;
}
.settings .form-input > input {
  width: 100%;
}
.settings .form-input input {
  font-size: 18px;
  outline: none;
  padding: 10px 17px;
  border-radius: 5px;
  border: 1px solid #b6b6b6;
}
.settings .wrapper-form-check {
  display: flex;
}
.settings .wrapper-form-check .form-check {
  display: flex;
  line-height: 1;
  align-items: center;
}
.settings .wrapper-form-check .form-check:not(:last-child) {
  margin-right: 10px;
}
.settings .wrapper-form-check label {
  margin-left: 10px;
}
@media (max-width: 992px) {
  .settings {
    flex-direction: column;
  }
}