.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-top: 1px solid #ccc;
}

.accordion-header {
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-content {
  background-color: #fff;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.accordion-item.active .accordion-header {
  background-color: #ddd;
}

.accordion-item.active .accordion-content {
  max-height: 500px;
}
