.accordion {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $dark-color;

  overflow: hidden;

  &-header {
    display: block;
    border-bottom: 1px solid $gray-color-lines;
    cursor: pointer;
  }

  &-header__icon {
    margin-left: 8px;
    transition: transform 200ms ease-in-out;
  }

  .active &-header__icon {
    transform: rotate(180deg);
    transform: scale(-1);
  }

  // &-header:hover {
  //   background-color: #ddd;
  // }

  &-content {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  &-item.active .accordion-content {
    max-height: 500px;
  }
}
